<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.securelayer.rad.ando"
    android:versionCode="3"
    android:versionName="GIT_VERSION_HERE"
    android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="10"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application  android:icon="@drawable/icon" android:label="@string/app_name" >
        <activity android:name="GettextActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter  android:icon="@drawable/icon"
                            android:label="@string/associate_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:mimeType="text/x-gettext-translation" /> -->
                <data android:scheme="http"
                      android:mimeType="*/*"
                      android:host="*"
                      android:pathPattern=".*\\.po" />
                <data android:scheme="https"
                      android:mimeType="*/*"
                      android:host="*"
                      android:pathPattern=".*\\.po" />
                <data android:scheme="content"
                      android:mimeType="*/*"
                      android:host="*"
                      android:pathPattern=".*\\.po" />
                <data android:scheme="file"
                      android:mimeType="*/*"
                      android:host="*"
                      android:pathPattern=".*\\.po" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-gettext-translation" />
            </intent-filter>
          </activity>
        <activity android:name="HelpActivity"
                  android:label="@string/help_name"
                  android:configChanges="orientation|keyboardHidden"
                  />
        <activity android:name="com.kaloer.filepicker.FilePickerActivity" />
    </application>
</manifest>
